pkgbase = mingw-w64-sqlite
	pkgdesc = A C library that implements an SQL database engine (mingw-w64)
	pkgver = 3.45.3
	pkgrel = 1
	url = https://www.sqlite.org/
	arch = any
	groups = mingw-w64
	license = custom:Public Domain
	makedepends = mingw-w64-configure
	makedepends = mingw-w64-pdcurses
	makedepends = mingw-w64-readline
	depends = mingw-w64-crt
	options = !buildflags
	options = !strip
	options = staticlibs
	source = https://www.sqlite.org/2024/sqlite-autoconf-3450300.tar.gz
	sha256sums = b2809ca53124c19c60f42bf627736eae011afdcc205bb48270a5ee9a38191531

pkgname = mingw-w64-sqlite
